%p#notice= notice
%h5
  %strong
    Appointments History for
    = link_to @user.full_name, admin_user_path(@user)
%table{class: 'responsive-table'}
  %thead
    %tr.row
      %th Date/Time
      %th Notes

  %tbody  
    - @appointments.each do |appointment|
      - evaluation = appointment.anthropometric_evaluation
      %tr.row
        %td= appointment.date_time.to_s(:human_schedule)
        -#TODO Add show more/less
        %td= appointment.notes
        %td= link_to 'Go To Evaluation', admin_anthropometric_evaluation_path(evaluation) if evaluation
        %td
          = button_to 'Delete', admin_appointment_path(appointment), method: :delete, class: 'btn red darken-2', data: { confirm: 'Are you sure? This will delete any Evaluations made during this appointment'}

