<div class="container">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="input-field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <label for="user_remember_me">
          <input name="user[rememeber_me]" id="user_remember_me" type="checkbox" checked="checked" />
          <span>Remember me</span>
        </label>
      </div>
    <% end -%>
    <br/>
    <div class="waves-effect waves-light btn submit">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
