
<%= form_for(@appointment) do |f| %>
    <h3>Select a client</h3>
    <hr>
    <div>
      <%= f.label :select_a_client %>
    </div>
      <%= f.select :user_id, @users.collect { |p| [ p.full_name, p.id ] } %>
    <div>
    </div>
    <%= f.submit 'Start Consultation', class: 'btn btn-link' %>
    or
    <%= link_to 'Add new Client', new_user_path, class: ['btn', 'btn-link' ] %>
<% end %>


