.container
  %h5 Enter client details
  .input-field
    = f.text_field :first_name
    %label{class: 'active'} Name
  .input-field
    = f.text_field :last_name
    %label{class: 'active'} Surname
  .input-field
    %label{class: 'active'} Email
    = f.text_field :email
  .input-field
    %label{class: 'active'} Gender
    = f.select :gender, [['Male', 'male'], ['Female', 'female']], rows:'3', include_blank: true, required: true
  .input-field.date-of-birth__selector--inline
    %label{class: 'active'} Date of Birth
    = f.date_select :date_of_birth,
                    { start_year: 1920, end_year: Date.today.year, class: 'input-field col s12 inline'}

    .col-lg-10.col-lg-offset-2
      %button.btn.btn-primary{:type => "submit"} Submit
