<div class="panel panel-default">
  <div class="panel-heading">Client Details </div>
  <div class="panel-body">
    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Date of birth:</strong>
      <%= @user.date_of_birth %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @user.gender.humanize %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  </div>
</div>
<%= form_for(@appointment, url: admin_appointments_path) do |f| %>
    <%= f.hidden_field :user_id  %>
    <%= f.submit 'New Appointment for this Client', class: 'btn btn-link' %>
<% end %>
<%= link_to 'Edit', edit_admin_user_path(@user), class: 'btn btn-link' %>
<%= link_to 'Delete', admin_user_path(@user), method: :delete, class: 'btn btn-danger' %>

