%h4 Client Details
%p
  %strong First name:
  = @user.first_name
%p
  %strong Last name:
  = @user.last_name
%p
  %strong Date of birth:
  = @user.date_of_birth
%p
  %strong Gender:
  = @user.gender.humanize
%p
  %strong Email:
  = @user.email

.row= link_to '+ Appointment', new_admin_appointment_path(@user), class: 'btn btn-link col s12 l2 z-depth-1'
.row= link_to 'Edit', edit_admin_user_path(@user), class: 'btn btn-link col s12 l2 z-depth-1'
.row= link_to 'Delete', admin_user_path(@user), method: :delete, class: 'btn red darken-2 col s12 l2 z-depth-1' unless @user.admin?
.row= link_to 'Appointment History', admin_user_appointments_path(@user), class: 'col s12 l2'
.row= link_to 'Evaluations History', admin_anthropometric_evaluations_path(user_id: @user.id), class: [:col, :s12, :l2]
