.row
  .col.s12.m6.l4
    = hidden_field_tag :appointment_id, @appointment.id
    %h5 Circumferences
    .input-field
      = e.number_field :abdomen
      %label{class: 'active'} Abdomen (cm)
    .input-field
      = e.number_field :waist
      %label{class: 'active'} Waist (cm)
    .input-field
      = e.number_field :hip
      %label{class: 'active'} Hips (cm)
    .input-field
      = e.number_field :arm
      %label{class: 'active'} Arm (cm)
    %h5 BMI
    .input-field
      = e.number_field :height
      %label{class: 'active'} Height (cm)
    .input-field
      = e.number_field :weight
      %label{class: 'active'} Weight
  .col.s12.m6.l4
    %h5 Skin Folds
    .input-field
      = e.number_field :triceps
      %label{class: 'active'} Triceps (mm)
    .input-field
      = e.number_field :subscapular
      %label{class: 'active'} Subscapular (mm)
    .input-field
      = e.number_field :thigh
      %label{class: 'active'} Thigh (mm)
    .input-field
      = e.number_field :abdominal
      %label{class: 'active'} Abdominal (mm)
    .input-field
      = e.number_field :iliac_crest
      %label{class: 'active'} Iliac crest (mm)
    .input-field
      = e.number_field :chest
      %label{class: 'active'} Chest (mm)
    .input-field
      = e.number_field :axilla
      %label{class: 'active'} Axilla (mm)
  .col.s12.m6.l4
    %div
      %h5 Results
      .input-field
        = e.number_field :bmi,  step: :any
        %label{class: 'active'} BMI
    %div
      .input-field
        = e.number_field :lean_mass,  step: :any
        %label{class: 'active'} Lean Mass (kg)
    %div
      .input-field
        = e.number_field :fat_mass,  step: :any
        %label{class: 'active'} Body Fat (kg)
    %div
      .input-field
        = e.number_field :fat_percentage,  step: :any
        %label{class: 'active'} Body Fat (%)
    %div
      .input-field
        = e.text_area :notes, class: 'materialize-textarea'
        = e.label :notes, class: 'active'
