<h2 class="page-title">
  Evaluation for <%= @user.full_name %>
</h2>
<%= form_for @evaluation, url: admin_anthropometric_evaluations_path do |e| %>
  <div class="row">
    <%= hidden_field_tag :appointment_id, @appointment.id %>
    <div class="col s12 m6 l4">
      <h5>Circumferences</h5>
      <div>
        <label>Abdomen</label>
        <%= e.number_field :abdomen, class: 'input-field', placeholder: 'cm' %>
      </div>
      <div>
        <label>Waist</label>
        <%= e.number_field :waist,  placeholder: 'cm' %>
      </div>
      <div>
        <label>Hips</label>
        <%= e.number_field :hip,  placeholder: 'cm'%>
      </div>
      <div>
        <label>Arm</label>
        <%= e.number_field :arm,  placeholder: 'cm' %>
      </div>
      <h5>BMI</h5>
        <div>
          <label>Height</label>
          <%= e.number_field :height, placeholder: 'cm' %>
        </div>
        <div>
          <label>Weight</label>
          <%= e.number_field :weight, placeholder: 'kg' %>
        </div>
    </div>
    <div class="col s12 m6 l4">
      <h5>Skin Folds</h5>
      <div class="col-lg-12">
        <label class="col-lg-12 evaluation-label">Triceps</label>
        <%= e.number_field :triceps,  placeholder: 'mm' %>
      </div>
      <div class="">
        <label>Subscapular</label>
        <%= e.number_field :subscapular,  placeholder: 'mm' %>
      </div>
      <div class="">
        <label>Thigh</label>
        <%= e.number_field :thigh,  placeholder: 'mm'%>
      </div>
      <div>
        <label>Abdominal</label>
        <%= e.number_field :abdominal, placeholder: 'mm' %>
      </div>
      <div>
        <label>Iliac crest</label>
        <%= e.number_field :iliac_crest, placeholder: 'mm' %>
      </div>
      <div>
        <label>Chest</label>
        <%= e.number_field :chest, placeholder: 'mm' %>
      </div>
      <div>
        <label class="">Axilla</label>
        <%= e.number_field :axilla, placeholder: 'mm' %>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div>
        <h5>Results</h5>
        <div>
          <label>BMI</label>
          <%= e.number_field :bmi,  step: :any %>
        </div>
      </div>
      <div>
        <div>
          <label>Lean Mass (kg)</label>
          <%= e.number_field :lean_mass,  step: :any %>
        </div>
      </div>
      <div>
        <div>
          <label>Body Fat (kg)</label>
          <%= e.number_field :fat_mass,  step: :any %>
        </div>
      </div>
      <div>
        <div>
          <label>Body Fat (%)</label>
          <%= e.number_field :fat_percentage,  step: :any %>
        </div>
      </div>
      <div>
        <h5>Notes</h5>
        <%= e.text_area :notes %>
      </div>
    </div>
    <h5>

    </h5>
  </div>

  <div class="col-lg-2">
    <div class=" col-lg-12">
      <%= e.submit 'Save' , class:'btn btn-primary', style: 'margin-top: 13px'%>
    </div>
  </div>


<% end %>
