!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nutrihelper
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0", :name => "viewport"}/
  %body
    %nav
      .nav-wrapper
        = link_to 'NutriHelper', root_path, class: 'brand-logo'
        %a{href:"#", 'data-activates':"mobile-demo", class:"button-collapse"}
          %i{class:"material-icons"} menu
        = content_for :navbar do
          - if current_user&.admin?
            %li= link_to 'New Appointment', new_admin_appointment_path
            %li= link_to 'New Client', new_admin_user_path
            %li= link_to 'All Clients', admin_users_path
          - if current_user
            %li= "Logged in as #{current_user.first_name}"
            %li= link_to 'Log out', destroy_user_session_path, method: :delete

        %ul#nav-mobile.right.hide-on-med-and-down
          = content_for :navbar
        %ul#mobile-demo.side-nav
          = content_for :navbar

    .container.main
      .col-lg-12.content
        - [:notice, :error, :alert, :warning, :message, :success].each do |type|
          - if flash[type].present?
            .alert.alert-dismissible.alert-success
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              = flash[type]
        = yield
