<!DOCTYPE html>
<html>
  <head>
    <title>Nutrihelper</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <%= link_to 'NutriHelper', root_path, class: 'brand-logo' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%- if current_user&.admin? %>
              <li><%= link_to 'New Appointment', new_admin_appointment_path %></li>
              <li><%= link_to 'New Client', new_admin_user_path %></li>
              <li><%= link_to 'All Clients', admin_users_path %></li>
          <% end %>
          <%- if current_user %>
              <li><a><%= "Logged in as #{current_user.first_name}" %></a></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      </div>
    </nav>

    <div class="container main">
      <div class="col-lg-12 content">
        <%-[:notice, :error, :alert, :warning, :message, :success].each do |type|%>
          <%-if flash[type].present?%>
              <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[type] %>
              </div>
          <%-end%>
        <%-end%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
